[submodule "src/test/python/cocotblib"]
	path = src/test/python/cocotblib
	url = https://github.com/SpinalHDL/CocotbLib.git
[submodule "workshop/test/resources/python/cocotblib"]
	path = workshop/test/resources/python/cocotblib
	url = https://github.com/SpinalHDL/CocotbLib
