*.class
*.log
*.bak

# sbt specific
.cache/
.history/
.lib/
dist/*
target
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

.idea
out

# Eclipse
bin/
.classpath
.project
.settings
.cache-main

#User
/rtl/*.vhd
/rtl/*.v
!/rtl/Ram_1w_1r_2c.v
*.cf
*.xml
*$*
*.vvp
*.pyc
*.json
*.vcd
*.*#
!/rtl/*_tb.vhd
*.bin

simWorkspace/
tmp/
waves/*/*
*.so
*.vpl
*.vpi
*.o
